<table>
  <tr>
    <td>Local</td><td>Módulo</td><td>Nivel</td><td>Área (m²)</td><td>Med. energía</td><td>Med. agua</td>
    <td>Estado</td><td>Inquilino actual</td><td>Contrato vence</td>
  </tr>
  {{#each items}}
  <tr>
    <td>{{this.codigo}}</td><td>{{this.modulo}}</td><td>{{this.nivel}}</td>
    <td>{{this.area}}</td><td>{{this.medidorEnergia}}</td><td>{{this.medidorAgua}}</td><td>{{this.estado}}</td>
    <td>{{this.inquilino}}</td><td>{{this.contratoVence}}</td>
  </tr>
  {{/each}}
</table>
